.positionBox {
    display: flex;
    flex-direction: column;
    margin: 8px 0px;
}

.positionInfoBox {
    display: flex;
    justify-content: space-between;
}

div.responsibilityBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

li.responsibilityBox {
    margin-top: 8px;
    margin-bottom: 10px;
}

.responsibilityInput {
    resize: none;
    width: 800px !important;
    margin-top: 3px;
}

.responsibilityText {
    width: 700px;
}

.positionNameText {
    font-size: 20px;
    font-style: italic;
}

.deleteResponsibilitySpan {
    position: relative;
    left: 110px;
}

.responsibilityLabel {
    position: absolute;
}

.deletePositionSpan {
    position: relative;
    left: 68px;
}

.positionLabel {
    position: absolute;
}