.companyBox {
    display: flex;
    flex-direction: column;
}

.companyBox input[type="text"] {
    width: 250px;
    font-size: 16px;

}

.companyBox input[type="tel"] {
    width: 70px;
}

.companyNameText {
    font-size: 25px;
}

.deleteCompanySpan {
    position: relative;
    left: 123px;
}

.companyLabel {
    position: absolute;
}

.buttonBox {
    margin-bottom: 8px;
}