* {
    margin: 0;
}

.personalInfoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.personalInfoContainer input {
    border: none;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.personalInfoContainer input[type="text"],
.previewName {
    width: 50%;
    height: 30px;
    font-size: 30px;
    padding: 4px 6px;
    margin: 4px 0px;
}

.personalInfoContainer input[type="email"],
.personalInfoContainer input[type="tel"] {
    width: 200px;
    height: 16px;
    font-size: 16px;
    padding: 4px 3px;
}

::placeholder {
    color: black;
}

.personalInfoContainer .nameBox {
    display: flex;
    justify-content: center;
    height: max-content;
    margin-top: 10px;
}

.personalInfoContainer .infoBox {
    display: flex;
    justify-content: space-around;
}