.workExperienceBox {
    width: 800px;
}

.workExperienceBox .headerBox {
    margin: 8px 0px;
}

.workExperienceBox input {
    margin-top: 3px;
    margin-bottom: 8px;
}

.addCompanyButton {
    margin-top: 3px;
}